@font-face {
  font-family: 'IsamiRi Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://github.com/isamirivers/IsamiRi-Display/raw/main/IsamiRiDisplay-Bold.otf) format('otf');
}
